<br>
<br>
<div class="container">
  <h2 class="dem">Add Seller</h2>
  <form #form="ngForm" (ngSubmit)="addSeller(seller)" class="form-horizontal dems">
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="email" [(ngModel)]="seller.seller" placeholder="Enter your Name" name="name">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Price</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="email" [(ngModel)]="seller.price" placeholder="Enter Price" name="name">
      </div>
    </div>
   
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default bts">Submit</button>
      </div>
    </div>
  </form>
</div>